{% extends 'base.html' %}

{% block head%}

{% endblock %}

{% block body%}
<div style="text-align: center;">
    <div class="project-description">
        <h1>Online Recipe Manager</h1>
        {% if current_user.is_authenticated %}
            <a href="{{url_for('logout')}}", class="redirect-button">Logout</a>
        {% else %}
            <a href="{{url_for('login')}}" class = "redirect-button">Login</a>
        {% endif %}
        <p> Welcome to Online Recipe Manager, a web-based application designed to help users search, view, and save their favorite recipes. This platform provides a user-friendly interface that allows users to create an account, log in securely, and easily search for recipes based on ingredients.

            The recipe manager enables users to view recipe details such as ingredients, instructions, and nutritional information. Users can save their favorite recipes to their account, which will be conveniently displayed on their profile page. In addition, users can add their own recipes to the database, which can be searched by other users.
            
            Our application uses Python and Flask for the web application, and SQLite or MySQL for the database. Our SQL-based database management system enables us to store and manage recipe and user data effectively. We use SQL commands to create, insert, retrieve, and manage the database, which allows us to integrate seamlessly with Python's built-in sqlite3 or a third-party library like SQLAlchemy.
            
            As part of this application, I've also created an admin interface that allows administrators to manage the database by adding, editing, or deleting recipes and users.
            
            Whether you're an experienced chef or a beginner, Online Recipe Manager provides a great opportunity to practice my Python skills, learn how to work with databases and SQL, and gain experience in developing web applications with user authentication.</p>
    </div>
</div>
{% endblock %}